<h2 class="screen-align">Addscreen</h2>
<div id="template-i5hx" class="row">
    <div id="template-ij9n" class="cell">
        <label id="template-ip7j" class="label">name</label>
        <input id="template-ic6vi" [(ngModel)]="travel.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-ivlh" class="cell">
        <label id="template-ighcc" class="label">email</label>
        <input id="template-ii784" [(ngModel)]="travel.email" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-imi8" class="cell">
        <label id="template-ipsuo" class="label">age</label>
        <input id="template-inwpa" [(ngModel)]="travel.age" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
</div>
<div id="template-itv1" class="row">
    <div id="template-iakk" class="cell">
        <label id="template-ipmh3" class="label">address</label>
        <input id="template-isilk" [(ngModel)]="travel.address"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
        <button id="template-i5uwy" (click)="GpCreate()" class="button btn btn-primary">Send</button>
    </div>
    <div id="template-iem9" class="cell"></div>
    <div id="template-i79j" class="cell"></div>
</div>