<h2 class="screen-align">Updatescreen</h2>
<div id="template-icys" class="row">
    <div id="template-i073" class="cell">
        <label id="template-io7j" class="label">name</label>
        <input id="template-imom6" [(ngModel)]="travel.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-ikb1" class="cell">
        <label id="template-iy0u4" class="label">email</label>
        <input id="template-i3983" [(ngModel)]="travel.email" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-i56d" class="cell">
        <label id="template-i4el4" class="label">age</label>
        <input id="template-isnxt" [(ngModel)]="travel.age" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
</div>
<div id="template-ikqk" class="row">
    <div id="template-igjr" class="cell">
        <label id="template-ix1gj" class="label">address</label>
        <input id="template-iujul" [(ngModel)]="travel.address"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
        <button id="template-i1a8r" (click)="GpUpdate()" class="button btn btn-primary">Send</button>
    </div>
    <div id="template-i864" class="cell"></div>
    <div id="template-iftf" class="cell"></div>
</div>